@page "/listado"
@inject Services.ArticuloServices services

<h3>Listado de Articulos</h3>

@if (articulos == null)
{
    <h2>No existen articulos</h2>
}
else
{
        <table class="table table-hover mt-5">
            <thead>
                <tr>
                    <th>No. Orden</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Ganancia</th>
                    <th>Ganancia Aumentada</th>
                    <th>Tasa Moneda</th>
                    <th>Monto Total</th>
                    <th>Fecha de Ingreso</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var articulo in articulos)
                {
                    <tr>
                        <td>@articulo.ArticuloId</td>
                        <td>@articulo.Nombre</td>
                        <td>@articulo.Precio</td>
                        <td>@articulo.Ganancia</td>
                        <td>@articulo.GananciaAumentada</td>
                        <td>@articulo.TasaMoneda</td>
                        <td>@articulo.MontoTotal</td>
                        <td>@articulo.FechaIngreso</td>
                    </tr>
                }
            </tbody>
        </table>
}

@code {
    List<Articulo> articulos = new List<Articulo>();

    protected override async void OnInitialized()
    {
        articulos = await services.GetAllArticulosAsync();
    }
}
